body{width:100%;height:100vh;overflow:hidden;
background-image:url(../images/bgimg.jpg);
background-repeat:no-repeat;
background-size:cover;
font-family:segoe ui,open sans,sans-serif,serif}
.lbox{width:25rem;height:19.75rem;border:3px solid #5abd71;
border-collapse:collapse;margin:0 auto;margin-top:-9.3rem;
margin-left:-12rem;padding:20px;opacity:1;
box-shadow:0 0 5px 0 rgba(0,0,0,.3);position:fixed;
background-color:#fff;top:40%;left:50%}.htxt{margin:.625rem 0;
font-weight:500;font-family:500 1.5rem/1.1 "Segoe UI","Open Sans",sans-serif,serif;
font-size:25px;text-align:center}.hr{height:1px;
background-color:#88b9e3;border:none}.fbox{margin-top:30px}
input,label{display:block}.input{margin-top:0;margin-bottom:12px;
width:100%;padding:10px;font-size:17px;border:1px #d9d9d9 solid}
input:hover{border:1px #787878 solid}input:focus{outline:none;
border:1px #787878 solid}.submit{margin-top:15px;text-align:center;
height:2.58rem;padding:0 1.3rem;border:1px solid #2086bf;
background-color:#5abd71;color:#fff;font-size:17px}.spin-block{text-align:center;margin-bottom:20px;display:none}.error{color:red;margin-bottom:10px;display:none}